* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Work Sans;
}
.header {
  background-color: #f3feff;
  margin: 0 auto;
  padding: 35px 0 90px 0;
}

.container {
  padding: 0 152px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 31px */

  margin-left: 5px;
  color: #252626;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0;
  margin-right: 45px;
  color: #969999;
}

.navbar a:hover,
nav a:active {
  color: #35afbf;
  border-bottom: 2px solid #35afbf;
}

.btn {
  padding: 15px 30px;
  line-height: 19px;
  /* identical to box height */
  cursor: pointer;
  color: #ffffff;
  background: #35afbf;
  border-radius: 6px;
  border: none;
}

.hero_area {
  display: flex;
  width: 100%;
}

.hero_content {
  margin-top: 155px;
  width: 50%;
}

.hero_content h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 125%;
  /* or 64px */
  color: black;
}

.hero_content span {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 125%;
  /* or 64px */

  color: #32a3b2;
}

.hero_content p {
  margin-top: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 160%;
  /* or 34px */

  color: #707273;
}

.hero_content .btn {
  margin-top: 35px;
}

.hero_img {
  position: relative;
  margin-top: 56px;
  width: 735px;
  height: 570px;
}

.icon_background {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(197, 200, 201, 0.15);
  border-radius: 16px;
  padding: 24px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_background:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.hero_img .icon_1 {
  position: absolute;
  top: 0;
  left: 83px;
  width: 102px;
  height: 104px;
}

.hero_img .icon_2 {
  position: absolute;
  top: 57px;
  right: 26px;
  width: 112px;
  height: 112px;
}

.hero_img .icon_3 {
  position: absolute;
  right: 66px;
  bottom: 59px;
  width: 94px;
  height: 92px;
}

.hero_img .icon_4 {
  position: absolute;
  width: 96px;
  height: 114px;
  left: 51px;
  bottom: 16px;
}

.image_background {
  position: absolute;
  width: 493px;
  height: 432px;
  bottom: 0;
  left: 120px;
}

.service h1 {
  margin-top: 120px;
  text-align: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
}

.main_content p {
  margin-top: 25px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  text-align: center;

  color: #707273;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.feature {
  display: flex;
  flex-direction: column;
  width: 261px;
  /* background-color: rgb(185, 183, 187); */
  text-align: center;
  align-items: center;
  position: relative;
}

.svg_background {
  position: absolute;

  visibility: hidden;
}

.ellipse {
  position: relative;
  width: 83px;
  margin: 30px 89px 0px;
}

.ellipse .svg_vector {
  position: absolute;
  top: 24px;
  left: 24px;
}

.svg_vector_2,
.svg_print {
  position: absolute;
  top: 24px;
  left: 24px;
}

.svg_vector_3 {
  position: absolute;
  bottom: 28px;
  right: 24px;
}

.svg_adidas {
  position: absolute;
  top: 31px;
  left: 24px;
}

.svg_content {
  position: absolute;
  top: 24px;
  left: 28px;
}

.feature h2 {
  margin-top: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
}
.feature p {
  margin: 10px 22px 35px;
}

.feature:hover {
  border-radius: 10px;
  outline: 1px solid #a3e0e8;
  background: #d1f4f9;
 
}

.feature:hover .svg_background {
  visibility: visible;
}

.our_clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 120px 0 127px;
}

.our_clients_content {
  margin: 80px 0;
  width: 449px;
}

.our_clients_content h3 {
  margin-top: 10px;
}

.our_clients_content p {
  text-align: start;
}

.our_clients_content .btn {
  margin-top: 35px;
  border: 1px solid rgba(53, 175, 191, 0.2);
  background-color: transparent;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #35afbf;
}

.video_section {
  background-image: url(./img/Background_how_we_work.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 128px 337px 128px 328px;
}

.video_section p {
  margin-top: 20px;
}

.video_section img {
  margin-top: 36px;
}

.img_main_2 {
  width: 80px;
  height: 80px;
}

.best_features {
  text-align: center;
}

.best_features h1 {
  margin-top: 122px;
}

.best_features p {
  margin-top: 20px;
}

.best_features .main_2 {
  margin-top: 60px;
}

.testimonial {
  margin-top: 120px;
  background-image: url(./img/vecotrs_testimonilas.svg);
  background-color: #d1f4f9;
  padding: 100px 184px;
  text-align: center;
}

.testimonial p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */

  text-align: center;

  color: #4b4c4c;
  margin: 40px 0 35px;
}

.testimonial_profile {
  display: inline-flex;
  flex-direction: row;
  margin-top: 35px;
}

.testimonial_profile h4 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 80%;
  /* identical to box height, or 17px */

  color: #4b4c4c;
  margin: 8px 0 0 16px;
}

.testimonial_profile h6 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 80%;
  /* identical to box height, or 17px */
  text-align: start;
  margin: 12px 0 0 16px;
  color: #4b4c4c;
}
.full_cta {
  text-align: center;
  padding: 120px 293px;
}

.full_cta .btn {
  margin-top: 35px;
}

.footer {
  background-color: #2c353e;
}

.footer_main_content {
  padding: 79px 0 39px;
}

.footer h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 31px */

  color: #ffffff;
}

.footer h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.footer .span {
  font-size: 16px;
}

.footer p {
  margin: 15px 0;
  font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


color: #FFFFFF;

opacity: 0.7;
}

.footer .btn {
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

.main_content_blocks{
  display: flex;
  flex-direction: row;
justify-content: space-between;
border-bottom:1px solid #4B4B4B;
padding-bottom: 45px;
}

.navbar_footer{
  margin-top: 40px;
}

.footer p{
  
}


