@import "reset";
$myFont: Helvetica, sans-serif;
$myFontSize: 18px;
$myWidth: 680px;
$myFont:45px;
$borderWidth:3px;
$containerWidth:200px;


body {
  font-family: $myFont;
  font-size: $myFontSize;
}

@mixin bordered ($borderWidth,$myColor) {
border: $borderWidth solid $myColor;  
}

#container {
  @include bordered(10px,red);
  width: $myWidth;
}

h1{
    font-size: $myFont;
}

