/*/////////////////////////////////////////
//////  Service-section Style Starts 
/////////////////////////////////////////*/

.service-section {
	margin-top: 120px;
	max-width: 1135px;
}

.service-section__paragraph {
	margin-top: 25px;
	margin-left: 268px;
	margin-right: 270px;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
	flex-wrap: wrap;
}

/****************** Service-section Style Ends ******************/

/*/////////////////////////////////////////
//////  Clients Style Starts 
/////////////////////////////////////////*/
.clients {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 120px 33px 127px 0px;
}

.clients__content {
	margin: 80px 0;
	width: 449px;
}

.clients__title {
	text-align: start;
}

.clients__secondary-title {
	margin-top: 10px;
	font-weight: 500;
	text-align: start;
}

.clients__underline {
	font-weight: bolder;
}

.clients__paragraph {
	margin-top: 20px;
	text-align: start;
}

.clients__button {
	margin-top: 35px;
	border: 1px solid rgba(53, 175, 191, 0.2);
	background-color: transparent;
	color: #35afbf;
}

/****************** Clients Style Ends ******************/

/*/////////////////////////////////////////
//////  Video-section Style Starts 
/////////////////////////////////////////*/

.video-section {
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/Background_how_we_work.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	padding: 128px 337px 128px 328px;
}

.video-section__paragraph-light {
	margin-top: 20px;
	color: #ffffff;
}

.video-section__image {
	margin-top: 36px;
}

/****************** Video-section Style Ends ******************/

/*/////////////////////////////////////////
//////  Best-features Style Starts 
/////////////////////////////////////////*/

.best-features {
	max-width: 1096px;
	margin: 120px auto;
	text-align: center;
}

.best-features__paragraph {
	margin: 20px 154px 0px 157px;
}

.best-features__features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}

/****************** Best-features Style Ends ******************/

/*/////////////////////////////////////////
//////  Testimonial Style Starts 
/////////////////////////////////////////*/

.testimonial {
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
	background-image: url('../images/vecotrs_testimonilas.svg');
	background-color: #d1f4f9;
	padding: 100px 184px;
	text-align: center;
}

.testimonial__paragraph {
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
	text-align: center;
	color: #4b4c4c;
	margin: 40px 0 35px;
}

.testimonial__profile {
	display: inline-flex;
	flex-direction: row;
	margin-top: 35px;
}

.testimonial__profile__name {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 80%;
	color: #4b4c4c;
	margin: 8px 0 0 16px;
}

.testimonial__profile__profession {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 80%;
	text-align: start;
	margin: 12px 0 0 16px;
	color: #4b4c4c;
}

/****************** Testimonial Style Ends ******************/

/*/////////////////////////////////////////
//////  Full-cta Style Starts 
/////////////////////////////////////////*/

.full-cta {
	text-align: center;
	padding: 120px 293px;
}

.full-cta__button {
	margin-top: 35px;
}

/****************** Full-cta Style Ends ******************/
