* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans';
}

body a {
	text-decoration: none;
}

/*/////////////////////////////////////////
//////  Header Style Starts 
/////////////////////////////////////////*/

/* BEM - Block Element Modifier */

.header {
	position: relative;
	width: 1440px;
	height: 800px;
	background-color: #f3feff;
	margin: 0 auto;
	padding: 35px 0 90px 0;
	z-index: 1;
}

.header__main {
	display: flex;
	width: 100%;
}

.header__content {
	margin-top: 155px;
	width: 50%;
}

.header__title {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
}

.header__text-blue {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
	color: #32a3b2;
}

.header__paragraph {
	margin-top: 20px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 160%;
	color: #707273;
}

.header__cta {
	margin-top: 35px;
}

.header__image {
	position: absolute;
	bottom: 42px;
	left: 628px;
	overflow: hidden;
	z-index: -1;
}

/****************** Header Style Ends ******************/

/*/////////////////////////////////////////
//////  Main-content Style Starts 
/////////////////////////////////////////*/

.main-content__title {
	margin-top: 120px;
}

.main-content__paragraph {
	margin-top: 25px;
	margin-left: 268px;
	margin-right: 270px;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}
.features__feature {
	display: flex;
	flex-direction: column;
	width: 261px;
	/* background-color: rgb(185, 183, 187); */
	text-align: center;
	align-items: center;
	position: relative;
}

.features__feature-background {
	position: absolute;
	visibility: hidden;
}

.features__image {
	position: relative;
	width: 83px;
	margin: 30px 89px 0px;
}

.features__title_secondary {
	margin-top: 20px;
}
.features__paragraph {
	margin: 10px 22px 35px;
}

.features__feature:hover {
	border-radius: 10px;
	outline: 1px solid #a3e0e8;
	background: #d1f4f9;
}

.features__feature:hover .features__feature-background {
	visibility: visible;
}

.clients {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 120px 33px 127px 0px;
}

.clients__content {
	margin: 80px 0;
	width: 449px;
}

.clients__title {
	text-align: start;
}

.clients__secondary_title {
	margin-top: 10px;
	font-weight: 500;
	text-align: start;
}

.clients__paragraph {
	margin-top: 20px;
	text-align: start;
}

.clients__button {
	margin-top: 35px;
	border: 1px solid rgba(53, 175, 191, 0.2);
	background-color: transparent;
	color: #35afbf;
}

/****************** Main-content Style Ends ******************/

/*/////////////////////////////////////////
//////  Video-section Style Starts 
/////////////////////////////////////////*/

.video-section {
	width: 1451px;
	height: 501px;
	margin: 0 auto;
	background-image: url(../images/Background_how_we_work.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	padding: 128px 337px 128px 328px;
}

.video-section p {
	margin-top: 20px;
}

.video-section__image {
	margin-top: 36px;
}

/****************** Main-content Style Ends ******************/

/*/////////////////////////////////////////
//////  Main-content Style Starts 
/////////////////////////////////////////*/

.best-features {
	width: 1096px;
	margin: 120px auto;
	text-align: center;
}

.best-features__paragraph {
	margin: 20px 154px 0px 157px;
}

.best-features__features {
	margin-top: 60px;
}

.best-features__image {
	width: 80px;
	height: 80px;
}

/****************** Main-content Style Ends ******************/

/*/////////////////////////////////////////
//////  Testimonial Style Starts 
/////////////////////////////////////////*/

.testimonial {
	width: 1440px;
	height: 501px;
	margin: 0 auto;
	margin-top: 120px;
	background-image: url(./img/vecotrs_testimonilas.svg);
	background-color: #d1f4f9;
	padding: 100px 184px;
	text-align: center;
}

.testimonial__paragraph {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
	text-align: center;
	color: #4b4c4c;
	margin: 40px 0 35px;
}

.testimonial__profile {
	display: inline-flex;
	flex-direction: row;
	margin-top: 35px;
}

.testimonial__profile h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 80%;
	color: #4b4c4c;
	margin: 8px 0 0 16px;
}

.testimonial__profile h6 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 80%;
	text-align: start;
	margin: 12px 0 0 16px;
	color: #4b4c4c;
}

/****************** Testimonial Style Ends ******************/

/*/////////////////////////////////////////
//////  Full-cta Style Starts 
/////////////////////////////////////////*/

.full-cta {
	text-align: center;
	padding: 120px 293px;
}

.full-cta__button {
	margin-top: 35px;
}

/****************** Full-cta Style Ends ******************/

/*/////////////////////////////////////////
//////  Footer Style Starts 
/////////////////////////////////////////*/

.footer {
	background-color: #2c353e;
	width: 1440px;
	height: 589px;
	margin: 0 auto;
}

.footer__content {
	padding: 79px 0 20px;
}

.footer__blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #4b4b4b;
	padding-bottom: 45px;
}

.footer h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
}

.footer__span {
	font-size: 16px;
}

.footer__paragraph {
	margin: 15px 0;
	color: #ffffff;
	opacity: 0.7;
	text-align: left;
}

.footer .p {
	font-size: 12px;
	line-height: 160%;
	color: #ffffff;
	opacity: 0.6;
}

.footer__navbar {
	margin-top: 40px;
	margin-bottom: 12px;
}

.footer__menu a:not(:last-child) {
	margin-right: 20px;
}

.footer__social-link a:not(:last-child) {
	margin-right: 40px;
}

/****************** Footer Style Ends ******************/
