*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

ul{
    background-color: black;
   
}

ul::after {
    content:" ";
    clear: both;
    display: table;
}

li{
    float: left;
    border-right: azure;
}

li a{
    display: block;
     color: cornsilk;
     padding: 15px 20px;
     text-align: center;
}
li a:hover {
  background-color: rgb(136, 47, 47);
}

li .active{
    background-color: darkkhaki;
}

.dropdown:hover .dropdown_content {
 display: block;

}

.dropdown{
    position: relative;
}
.dropdown_content{
    display: none;
   background-color: black;
   position: absolute;
  
 
  min-width: 160px;
 
  z-index: 1;
}
