.container {
	width: 1135px;
	margin: 0 auto;
}

@media only screen and (max-width: 1183px) {
	.container {
		width: 768px;
	}
}

@media only screen and (max-width: 804px) {
	.container {
		width: 576px;
	}
}

@media only screen and (max-width: 612px) {
	.container {
		width: 100%;
		padding-right: 16px;
		padding-left: 16px;
	}
}