// @import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/Lesson_7/Practice_Maker/sass/base/Work_Sans/static/WorkSans-Regular.ttf');
}

body {
	font-family: Work Sans;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 38px;
	line-height: 45px;

	&_light {
		color: #ffffff;
	}
}

.title-secondary {
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;

	&_light {
		color: #ffffff;
	}
}

.paragraph {
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #707273;

	&-light {
		color: #ffffff;
	}
}

.helper {
	font-size: 12px;
	line-height: 160%;
	color: #ffffff;
}

// Displays: one-six 
// Headings: one-six
// Bodies: one-two
// Button
// Caption
// Helper
// Quote
