*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    padding: 4px;
   width: 100%;
}

@media (max-width: 1200px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
