.footer {
	background-color: #2c353e;
	max-width: 1440px;
	margin: 0 auto;
}

.footer__content {
	padding: 79px 0 20px;
}

.footer__blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #4b4b4b;
	padding-bottom: 45px;
}




.footer__corp {
	font-size: 12px;
	line-height: 160%;
	color: #ffffff;
	opacity: 0.6;
	display: block;
}

.footer__navbar {
	margin-top: 40px;
	margin-bottom: 12px;
}

.navbar__link:not(:last-child) {
	margin-right: 20px;
}

.footer__social-link .navbar__link:not(:last-child) {
	margin-right: 40px;
}