.header {
	position: relative;
	width: 1440px;
	height: 800px;
	background-color: #f3feff;
	margin: 0 auto;
	padding: 35px 0 90px 0;
	z-index: 1;
}

.header__main {
	display: flex;
	width: 100%;
}

.header__content {
	margin-top: 155px;
	width: 50%;
}

.header__title {
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
}

.header__text-blue {
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
	color: #32a3b2;
}

.header__paragraph {
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 160%;
	color: #707273;
}

.header__cta {
	margin-top: 35px;
}

.header__image {
	position: absolute;
	bottom: 42px;
	left: 628px;
	overflow: hidden;
	z-index: -1;
}
