
/*/////////////////////////////////////////
//////  Font Style Starts 
/////////////////////////////////////////*/

.title {
	text-align: center;
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 45px;
}

.title_light {
	color: #ffffff;
}

.title_secondary {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
}

.title_secondary_light {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
	color: #ffffff;
}

.paragraph {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #707273;
}

.paragraph_light {
	color: #ffffff;
}

/****************** Font Style Ends ******************/