* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans';
}

/*/////////////////////////////////////////
//////  Container Style Starts 
/////////////////////////////////////////*/
.container {
	width: 1135px;
	margin: 0 auto;
}

@media only screen and (max-width: 1183px) {
	.container {
		width: 768px;
	}
}

@media only screen and (max-width: 804px) {
	.container {
		width: 576px;
	}
}

@media only screen and (max-width: 612px) {
	.container {
		width: 100%;
		padding-right: 16px;
		padding-left: 16px;
	}
}

/****************** Container Style Ends ******************/

/*/////////////////////////////////////////
//////  Button Style Starts 
/////////////////////////////////////////*/

.button {
	padding: 15px 30px;
	cursor: pointer;
	color: #ffffff;
	background-color: #35afbf;
	line-height: auto;
	font-size: 16px;
	border-radius: 6px;
	border: none;
}

.button_large {
	padding: 15px 35px;
	font-weight: 500;
	font-size: 21px;
	line-height: 150%;
}

.button_secondary {
	border: 2px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

/****************** Header Style Ends ******************/

/*/////////////////////////////////////////
//////  Header Style Starts 
/////////////////////////////////////////*/

/* BEM - Block Element Modifier */

.header {
	position: relative;
	width: 1440px;
	height: 800px;
	background-color: #f3feff;
	margin: 0 auto;
	padding: 35px 0 90px 0;
	z-index: 1;
}

.header__main {
	display: flex;
	width: 100%;
}

.header__content {
	margin-top: 155px;
	width: 50%;
}

.header__title {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
	color: black;
}

.header__text-blue {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	line-height: 125%;
	color: #32a3b2;
}

.header__paragraph {
	margin-top: 20px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 160%;
	color: #707273;
}

.header__cta {
	margin-top: 35px;
}

.header__image {
	position: absolute;
	bottom: 42px;
	left: 628px;
	overflow: hidden;
	z-index: -1;
}

/****************** Header Style Ends ******************/

.header .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .logo span {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
	margin-left: 5px;
	color: #252626;
}

.header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .navbar a {
	text-decoration: none;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	padding: 10px 0;
	margin-right: 45px;
	color: #969999;
}

.header .navbar a:hover {
	color: #35afbf;
	border-bottom: 2px solid #35afbf;
}

.service h1 {
	margin-top: 120px;
	text-align: center;
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 45px;
}

.main_content p {
	margin-top: 25px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */

	text-align: center;

	color: #707273;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}
.feature {
	display: flex;
	flex-direction: column;
	width: 261px;
	/* background-color: rgb(185, 183, 187); */
	text-align: center;
	align-items: center;
	position: relative;
}

.svg_background {
	position: absolute;

	visibility: hidden;
}

.ellipse {
	position: relative;
	width: 83px;
	margin: 30px 89px 0px;
}

.feature h2 {
	margin-top: 20px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
}
.feature p {
	margin: 10px 22px 35px;
}

.feature:hover {
	border-radius: 10px;
	outline: 1px solid #a3e0e8;
	background: #d1f4f9;
}

.feature:hover .svg_background {
	visibility: visible;
}

.our_clients {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 120px 0 127px;
}

.our_clients_content {
	margin: 80px 0;
	width: 449px;
}

.our_clients_content h3 {
	margin-top: 10px;
}

.our_clients_content p {
	text-align: start;
}

.our_clients_content .btn {
	margin-top: 35px;
	border: 1px solid rgba(53, 175, 191, 0.2);
	background-color: transparent;
	border-radius: 6px;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #35afbf;
}

.video_section {
	width: 1451px;
	height: 501px;
	margin: 0 auto;
	background-image: url(../images/Background_how_we_work.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	padding: 128px 337px 128px 328px;
}

.video_section p {
	margin-top: 20px;
}

.video_section img {
	margin-top: 36px;
}

.img_main_2 {
	width: 80px;
	height: 80px;
}

.best_features {
	text-align: center;
}

.best_features h1 {
	margin-top: 122px;
}

.best_features p {
	margin-top: 20px;
}

.best_features .main_2 {
	margin-top: 60px;
}

.testimonial {
	width: 1440px;
	height: 501px;
	margin: 0 auto;
	margin-top: 120px;
	background-image: url(./img/vecotrs_testimonilas.svg);
	background-color: #d1f4f9;
	padding: 100px 184px;
	text-align: center;
}

.testimonial p {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
	/* or 45px */

	text-align: center;

	color: #4b4c4c;
	margin: 40px 0 35px;
}

.testimonial_profile {
	display: inline-flex;
	flex-direction: row;
	margin-top: 35px;
}

.testimonial_profile h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 80%;
	/* identical to box height, or 17px */

	color: #4b4c4c;
	margin: 8px 0 0 16px;
}

.testimonial_profile h6 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 80%;
	/* identical to box height, or 17px */
	text-align: start;
	margin: 12px 0 0 16px;
	color: #4b4c4c;
}
.full_cta {
	text-align: center;
	padding: 120px 293px;
}

.full_cta .btn {
	margin-top: 35px;
}

.footer {
	background-color: #2c353e;
	width: 1440px;
	height: 589px;
	margin: 0 auto;
}

.footer_main_content {
	padding: 79px 0 39px;
}

.footer h1 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
	/* identical to box height, or 31px */

	color: #ffffff;
}

.footer h2 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 45px;
	/* identical to box height */

	color: #ffffff;
}

.footer .span {
	font-size: 16px;
}

.footer p {
	margin: 15px 0;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	/* identical to box height, or 26px */

	color: #ffffff;

	opacity: 0.7;
}

.footer .btn {
	border: 2px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	color: #ffffff;
}

.main_content_blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #4b4b4b;
	padding-bottom: 45px;
}

.navbar_footer {
	margin-top: 40px;
}

.footer .p {
	font-size: 12px;
	line-height: 160%;
	/* or 19px */

	color: #ffffff;

	opacity: 0.6;
}
