*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 50%;
    margin: auto;
    background-color: lightblue;
}

img{
    width: 100%;
    display: block;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    opacity: 0;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}


.container:hover .overlay{
    opacity: 1;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
